.page-default {
    padding: 20px 10px !important;
}

.page-default .view-struct {
    margin: 0;
    font-size: 13px;
    line-height: 1.8;
    background-color: transparent;
    overflow: visible;
}
.page-default .view-struct.struct-expanded-value {
    background-position: 12px 30px;
    background-size: 1px calc(100% - 59px);
}
.page-default .view-struct .struct-expanded-value {
    background-size: 1px calc(100% - 43px);
}

@media (hover:none), (hover:on-demand) { 
    .discovery-content {
        overflow: visible;
    }
}

@media (hover:none), (hover:on-demand) {
    .discovery-root-darkmode .view-struct .struct-action-button {
        color: #aaa;
        background: #50505080;
        border-color: rgba(100, 100, 100, 0.2);
    }
}
