.page-default {
    padding: 10px !important;
}

.page-default .view-struct {
    margin: 0;
    font-size: 13px;
    line-height: 1.8;
    background-color: transparent;
    overflow: visible;
}
.page-default .view-struct.struct-expanded-value {
    background-position: 12px 30px;
    background-size: 1px calc(100% - 59px);
}
.page-default .view-struct .struct-expanded-value {
    background-size: 1px calc(100% - 43px);
}

.page-default .for-humans {
    max-width: 1000px;
    margin: 0 auto 30px;
}
.page-default .projects .view-badge,
.page-default .shows .view-badge {
    margin-right: 0;
    margin-left: 5px;
}
.page-default .projects,
.page-default .talks,
.page-default .shows {
    column-width: 350px;
    column-gap: 80px;
}
.page-default .projects .view-list-item,
.page-default .talks .view-list-item,
.page-default .shows .view-list-item {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
}

.talk-details {
    font-size: 11px;
    opacity: .5;
}

@media (hover:none), (hover:on-demand) { 
    .discovery-content {
        overflow: visible;
    }
}

@media (hover:none), (hover:on-demand) {
    .discovery-root-darkmode .view-struct .struct-action-button {
        color: #aaa;
        background: #50505080;
        border-color: rgba(100, 100, 100, 0.2);
    }
}
